body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #007bff;
}

h1{
    margin-top: 40px;
    margin-left: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}
input[type=text],
input[type=password],
input[type=datetime-local],
input[type=number],
textarea,
input[type=file] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.submit-btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.submit-btn:hover {
    background-color: #0056b3;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 10px;
}